html, body{min-height:100%;} /* might do nothing, where 100vh would. but has maybe other problems. see comment in App.css. todo: fix on semantic html compliance pass */
body {
  margin: 0;
  height:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18191a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

select { /* dark default if otherwise unstyled */
  background-color: #18191a;
  color: #fff;
  border-radius: 5px;
}

button { /* dark default if otherwise unstyled */
  background-color: #18191a;
  color: #fff;
  border-radius: 5px;
}

input { /* dark default if otherwise unstyled */
  background-color: #18191a;
  color: #fff;
  border-radius: 5px;
}