.App {
  text-align: center;
  min-height: 100%;
  background-color: #342d28;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.Error {
  color: red;
}