.App {
  text-align: center;
  min-height: 100%;
  background-color: #282c34;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.Error {
  color: red;
}

.UserBox {
  font-size: calc(10px + 1vmin);
  text-align: right;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2vmin;
  background-color: #404347;
}

.UserBox p {
  margin: 0px;
}

.UserBox2 {
  font-size: calc(10px + 1vmin);
  text-align: right;
  position: fixed;
  right: 0;
  top: 100px;
  padding: 2vmin;
  background-color: #404347;
}

.UserBox2 p {
  margin: 0px;
}